<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuilihuan.applogs.visualize.dao.StatMapper">
    <update id="updateProvince">
    UPDATE ext_startup_logs
    set province = #{0}
    WHERE id = #{1};
    </update>


    <!-- 查询新增用户 -->
    <select id="findNewUsers" resultMap="rm_StatBean">
        select count(*) stcount
        from ext_startup_logs
    </select>

    <resultMap id="rm_StatBean" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="stcount" property="count"/>
    </resultMap>

    <select id="findThisWeekNewUsers" resultMap="rm_weekUser">

        SELECT date_format(t.mintime, "%Y/%m/%d") stdate,
               appVersion,
               count(*)                           stcount
        FROM (
                 SELECT deviceid,
                        FROM_UNIXTIME(
                                min(createdatms) / 1000,
                                "%Y/%m/%d %H:%i:%S"
                            ) mintime,
                        appVersion
                 FROM ext_startup_logs
                 WHERE appid = #{sdk34734}
                 GROUP BY deviceid,
                          appVersion
                 HAVING mintime >= date_format(DATE_SUB(now(), INTERVAL 7 DAY), "%Y/%m/%d 00:00:00")
                    AND mintime &lt;= date_format(DATE_ADD(now(), INTERVAL 1 DAY), "%Y/%m/%d 00:00:00")
             ) t
        GROUP BY stdate, appVersion
    </select>

    <select id="selectThisWeekActive" resultMap="rm_activeUser">
        select COUNT(DISTINCT deviceId) count, createtime
        from (
                 SELECT deviceId, FROM_UNIXTIME(createdatms / 1000, "%Y/%m/%d") createtime
                 from ext_startup_logs
                 where appId = #{appId}
             ) t
        GROUP BY createtime
        HAVING createtime >= date_format(
                DATE_SUB(now(), INTERVAL 7 DAY),
                "%Y/%m/%d 00:00:00"
            )
           AND createtime &lt;= date_format(
                DATE_ADD(now(), INTERVAL 1 DAY),
                "%Y/%m/%d 00:00:00")
        ORDER BY createtime desc
    </select>

    <select id="selectSilenceUser" resultMap="rm_silenceUser">

        SELECT count(*) countNum,
               appVersion
        FROM (
                 SELECT appVersion,
                        deviceid,
                        count(createdatms) dcount,
                        FROM_UNIXTIME(
                                min(createdatms) / 1000,
                                "%Y/%m/%d %H:%i:%S"
                            )              dmin
                 FROM ext_startup_logs
                 WHERE appid = #{appId}
                 GROUP BY deviceid, appVersion
                 HAVING dcount = 1
                    AND dmin &lt; date_format(
                         DATE_SUB(now(), INTERVAL 1 DAY),
                         "%Y/%m/%d 00:00:00"
                     )
             ) t
        GROUP BY appVersion;
    </select>
    <select id="selectStartUpNum" resultMap="rm_weekUser">
        SELECT count(deviceid) stcount,
               stdate,
               appVersion
        FROM (
                 SELECT deviceid,
                        FROM_UNIXTIME(
                                createdAtMs / 1000,
                                "%Y/%m/%d"
                            ) stdate,
                        appVersion
                 FROM ext_startup_logs
                 WHERE appid = #{appId}
                 GROUP BY deviceid,
                          stdate,
                          appVersion
             ) t
        GROUP BY stdate,
                 appVersion
        ORDER BY stdate
    </select>
    <select id="selectProvinceNum" resultMap="rm_provincenum">
        SELECT count(*) count,province
        FROM ext_startup_logs
        GROUP BY province
        order by count desc
    </select>

    <select id="selectDayOfNewUsers" resultType="string">
        SELECT
           distinct deviceId
        FROM
            (
                SELECT
                    deviceId
                FROM
                    ext_startup_logs
                WHERE
                    appId = #{appId}
                  AND appVersion = #{version}
                GROUP BY
                    deviceid
                HAVING
                        FROM_UNIXTIME(
                                min(createdatms) / 1000,
                                "%Y/%m/%d"
                            ) = #{time}
            )t
    </select>

    <select id="selectPerDaysOfUsage" resultType="int">
        SELECT
        count(*)
        FROM
        (
        SELECT
        deviceId
        FROM
        ext_startup_logs
        WHERE
        appId = #{appId}
        AND appVersion = #{version}
        AND FROM_UNIXTIME(
        createdatms / 1000,
        "%Y/%m/%d"
        ) = date_format(DATE_ADD(#{time} , INTERVAL #{dayNum,jdbcType=INTEGER} DAY),"%Y/%m/%d")
        GROUP BY
        deviceId
        HAVING
        <foreach collection="deviceIds" item="id" open="deviceId in (" close=") " separator=",">
            #{id}
        </foreach>
        )t
    </select>

    <select id="selectDayOfNewUsersAllVersion" resultType="int">
        SELECT COUNT(*) FROM(
SELECT
	deviceId
FROM
	ext_startup_logs
WHERE
	appId = #{appId}
GROUP BY
	deviceid
HAVING
	FROM_UNIXTIME(
		min(createdatms) / 1000,
		"%Y/%m/%d"
	) = #{time})t

    </select>

    <select id="selectDayOfNewUsersAllUsers" resultType="int">
        SELECT
	count(DISTINCT deviceId)
FROM
	ext_startup_logs
WHERE
	appId = #{appId} AND FROM_UNIXTIME(
		createdatms / 1000,
		"%Y/%m/%d"
	) = #{time}
    </select>

    <select id="selectDayOfActiveUsers" resultType="int">
        SELECT count(*)
FROM
(SELECT
	deviceId
FROM
	ext_startup_logs
WHERE
	appId = #{appId}
AND FROM_UNIXTIME(
	createdatms / 1000,
	"%Y/%m/%d"
) = #{time}
GROUP BY
	deviceId
HAVING
	COUNT(*) >= 2
)t
    </select>

    <select id="selectDevicesOfNUM" resultMap="rm_devicesnum">
        SELECT COUNT(*) num,deviceStyle
from(
SELECT deviceStyle
FROM ext_startup_logs
where appId = #{appId}
GROUP BY deviceId
)t
GROUP BY deviceStyle
ORDER BY num desc
LIMIT 6;
    </select>

    <select id="selectNetWorkByAppId" resultMap="rm_network">
        SELECT count(*) num,network,appVersion
from(
SELECT DISTINCT deviceId,network,appVersion
FROM ext_startup_logs
where appId = #{appId}
)t
GROUP BY network,appVersion
    </select>


    <select id="selectDevicesOfNUMByVersion" resultMap="rm_deviceversion">
        SELECT COUNT(*) num,appVersion
        FROM(
        select appVersion
        from ext_startup_logs
        WHERE appId = #{appId} and deviceStyle = #{deviceStyle}
        GROUP BY deviceId
        )t
        GROUP BY appVersion;

    </select>

    <select id="selectUseTimes" resultMap="rm_usetimes">
SELECT singleUseDurationSecs num,appVersion
FROM ext_usage_logs
where appId = #{appId} and FROM_UNIXTIME(
	createdatms / 1000,
	"%Y/%m/%d") = #{time}
    </select>

    <resultMap id="rm_usetimes" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="num" property="count"/>
        <result column="appVersion" property="appVersion"/>
    </resultMap>

    <resultMap id="rm_network" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="num" property="count"/>
        <result column="network" property="netWork"/>
        <result column="appVersion" property="appVersion"/>
    </resultMap>

    <resultMap id="rm_deviceversion" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="num" property="count"/>
        <result column="appVersion" property="appVersion"/>
    </resultMap>


    <resultMap id="rm_devicesnum" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="num" property="count"/>
        <result column="deviceStyle" property="deviceName"/>
    </resultMap>

    <resultMap id="rm_provincenum" type="com.cuilihuan.applogs.visualize.domain.InfoPorovinceAndNumBean">
        <result column="count" property="count"/>
        <result column="province" property="province"/>
    </resultMap>

    <resultMap id="rm_silenceUser" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="countNum" property="count"/>
        <result column="appVersion" property="appVersion"/>
    </resultMap>


    <resultMap id="rm_activeUser" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="count" property="count"/>
        <result column="createtime" property="date"/>
    </resultMap>


    <resultMap id="rm_weekUser" type="com.cuilihuan.applogs.visualize.domain.StatBean">
        <result column="stcount" property="count"/>
        <result column="stdate" property="date"/>
        <result column="appVersion" property="appVersion"/>
    </resultMap>


</mapper>
